@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
.App {
  text-align: center;
  height: 100vh;
  font-size: 18px;
}

.banner {
  background-color: #48aaad;
  text-transform: uppercase;
  height: 30px;
}

.nav-bar {
  background-color: #000000;
  color: #ffffff;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  flex-direction: row;
  font-family: 'Vast Shadow';
  font-size: 2rem;
  width: 10%;
}

.hamburger-icon {
  display: none;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  padding: 10px;
  list-style-type: none;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

h1 {
  position: absolute;
}

.icon {
  padding-left: 10px;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 375px) {
  .nav-links {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

  .checkout-icons {
    display: block;
    color: blanchedalmond;
  }

  .banner {
    height: 60px;
  }

  
}